/* ============  Typhography  Start ============= */
:root {
  --primary-color: #fe0000;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.btn-primary a {
  position: relative;
  display: inline-block;
  border: none;
  padding: 12px 30px;
  color: #000000e7;
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
  overflow: hidden;
  transition: color 0.2s ease; /* Transition for text color */
  z-index: 2;
}
.btn-primary a:hover {
  color: #ffffff;
}
.btn-primary a::before,
.btn-primary a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  transition: transform 0.3s ease; /* Transition for the animations */
  z-index: -1; /* Positioned behind the text */
  background-color: #03c630;
}
.btn-primary a::before {
  /* Red color */
  left: 0; /* Start from the left */
  top: 0;
  transform: translateX(-100%); /* Initially hidden */
}
.btn-primary a::after {
  /* Green color */
  right: 0; /* Start from the right */
  bottom: 0;
  transform: translateX(100%); /* Initially hidden */
}
.btn-primary a:hover::before {
  transform: translateX(0);
}
.btn-primary a:hover::after {
  transform: translateX(0);
}
.top-content h1 {
  font-size: 4rem;
}
/* ============ Typhography  End ============= */

/* ============ Header Start ============= */

header {
  background: linear-gradient(180deg, #fcfcfc, #d5d5d5);
  min-height: 100px;
}
header .contact-info {
  font-weight: 600;
  background-color: #ffffff;
}
header .logo img {
  width: 180px;
}
header .menu-bar {
  display: none;
  font-size: 25px;
}
header .menu-bar i {
  cursor: pointer;
}
.header-menu ul {
  display: flex;
}
.header-menu ul li a {
  color: #2c2c2c;
  font-weight: 700;
  padding: 0px 5px;
  text-shadow: -10px 10px 0px #2c2c2c00;
  transition: all 0.3s ease;
}
.header-menu ul li a:hover {
  text-shadow: 0px 0px 0px #2c2c2c;
}

/* ============  Header End ============= */

/* ============ Hero-section Start ============= */
.hero-section {
  background-color: #e6e6e6;
  color: #000000;
}
.hero-section h1 {
  font-size: 55px;
  font-weight: 700;
}
.hero-section p {
  font-weight: 600;
}
.hero-section .image .shadow {
  margin-top: -24px;
  width: 100%;
  height: 25px;
  border-radius: 50%;
  background-color: #292929;
  filter: drop-shadow(7px 10px 7px #00ff40);
  animation: animated-shadow 1.4s 0s infinite alternate  linear;
}
@keyframes animated-shadow {
  from{
    filter: drop-shadow(10px 20px 5px #00ff40);
  }
  to{
    filter: drop-shadow(-5px -5px 5px #00ff40);
  }
}
/* ============ Hero-section End ============= */

/* ============ Pricing section   Start ============= */
.pricing-section {
  padding: 50px 0px;
  min-height: 700px;
  background-color: #fcfcfc;
}
.top-content p {
  margin: 0 auto;
  width: 65%;
  color: #8f8f8f;
}
.pricing-section .card {
  margin-top: 50px;
  border-radius: 15px;
  padding: 3rem 0;
  min-height: 600px;
  background-color: #0e0e0e;
  z-index: 1;
  color: #ffffff;
}
.pricing-section li i {
  display: inline-block;
  margin-right: 5px;
}
.pricing-section .price h2 {
  font-weight: bold;
}
.pricing-section .card-2 {
  margin-top: 0px;
  min-height: 550px;
  box-shadow: 5px 15px 20px #2d2d2dab;
}
.pricing-section .price h2 span {
  font-size: 20px;
  color: #e8e8e8;
  font-weight: 500;
}
.pricing-section .plan {
  font-size: 2rem;
  font-weight: 600;
}
.pricing-section .badge-icon {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #000000;
  font-size: 30px;
  /* box-shadow: 0px 0px 5px #000000; */
}
.pricing-section .badge-icon::after,
.pricing-section .badge-icon::before {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  content: "";
  position: absolute;
  background: conic-gradient(#002aff, #3cff01, #0033ff);
  padding: 25px;
  z-index: -1;
  animation: animated-icon 3s 0s infinite linear;
}
.pricing-section .badge-icon::before {
  filter: blur(15px);
}
.pricing-section .card ul li {
  margin: 5px 0px;
}
@keyframes animated-icon {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pricing-section .disable {
  color: #999999;
  text-decoration: line-through;
}
.pricing-section ul {
  max-width: 200px;
  margin: 0% auto;
  text-align: left;
}
/* ============ Pricing section   End ============= */

/* ============  Our Sponsor  Start ============= */
.our-sponsor {
  background-color: #fcfcfc;
  padding: 30px 0;
}
.sponsor-content {
  margin-bottom: 50px;
}
.animation-slider {
  position: relative;
}

.animation-slider::after,
.animation-slider::before {
  top: 0;
  width: 40px;
  height: 100%;
  content: "";
  position: absolute;
}
.animation-slider::after {
  left: 0px;
  background: linear-gradient(90deg, #fcfcfc, #fefefe00);
}
.animation-slider::before {
  right: 0px;
  background: linear-gradient(-90deg, #fcfcfc, #fefefe00);
  z-index: 2;
}
.animation-slider,
.slider-reverse {
  margin-top: 20px;
  overflow-x: hidden;
  white-space: nowrap;
}
/* .animation-slider:hover .slider-images {
  animation-play-state: paused;
} */
.slider-images {
  display: inline-block;
  animation: brand 35s linear 0s infinite;
  margin-bottom: 30px;
}
.animation-reverse {
  display: inline-block;
  animation: brand-reverse 35s linear 0s infinite;
}
.slider-images img {
  /* filter: grayscale(100%); */
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100px;
  margin: 0 40px;
  padding: 0x 40px;
}
.slider-images .tech {
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  user-select: none;
}

/* .animation-slider:hover .slider-images {
  animation-play-state: paused;
} */
.slider-images img:hover {
  filter: grayscale(0%);
}
@keyframes brand {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes brand-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* ============  Our Sponsor  End ============= */
/* ============    Start ============= */
/* ============    End ============= */
/* ============    Start ============= */
/* ============    End ============= */
/* ============    Start ============= */
/* ============    End ============= */
/* ============    Start ============= */
/* ============    End ============= */
@media (max-width: 992px) {
  .pricing-section .card-2 {
    margin-top: 50px;
    min-height: 500px;
  }
  .top-content p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .top-content h1 {
    font-size: 2.3rem;
  }
  .header-menu ul {
    display: block;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    padding: 40px 0px;
    top: 117px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background: linear-gradient(#e8e8e8, #abaaaa);
    transition: all 0.2s ease-out;
  }
  .header-menu .active {
    opacity: 1;
    transform: scaleY(1);
  }
  .header-menu ul li:first-child {
    margin-top: 0px;
  }
  .header-menu ul li {
    margin: 8px 0px;
  }
  header .menu-bar {
    display: block;
  }

  /* ========= */
  .our-sponsor .slider-images img {
    width: 80px;
    margin: 0 10px;
  }
  .our-sponsor .slider-images {
    margin-bottom: 0px;
  }
  .our-sponsor .slider-images .tech {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .header-menu ul {
    top: 107px;
  }
  header .logo img {
    width: 140px;
  }
  header .location {
    display: none;
  }
  .our-sponsor .slider-images img {
    width: 60px;
  }
  .our-sponsor .slider-images .tech {
    font-size: 16px;
  }
}
