/* ============  Typhography  Start ============= */
:root {
  --primary-color: #fcfcfc;
  --dark-green: #08b76b;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.btn-primary a {
  position: relative;
  display: inline-block;
  border: none;
  padding: 12px 30px;
  color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.112);
  border-radius: 8px;
  font-weight: 700;
  overflow: hidden;
  transition: color 0.2s ease; /* Transition for text color */
  z-index: 2;
}
.btn-primary a:hover{
  color: #000000;
}
.btn-primary a::before,
.btn-primary a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  transition: transform 0.3s ease; /* Transition for the animations */
  z-index: -1; /* Positioned behind the text */
  background-color: var(--dark-green);
}
.btn-primary a::before {
  /* Red color */
  left: 0; /* Start from the left */
  top: 0;
  transform: translateX(0%); /* Initially hidden */
}
.btn-primary a::after {
  /* Green color */
  right: 0; /* Start from the right */
  bottom: 0;
  transform: translateX(0%); /* Initially hidden */
}
.btn-primary a:hover::before {
  transform: translateX(-100%);
}
.btn-primary a:hover::after {
  transform: translateX(100%);
}
.top-content h1 {
  font-size: 3.5rem;
}
/* ============ Typhography  End ============= */

/* ============ Header Start ============= */

header {
  width: 100%;
  top: -40px;
  position: sticky;
  background: linear-gradient(180deg, #e3e3e3,#fcfcfc);
  min-height: 100px;
  z-index: 999999;
}
header .contact-info {
  font-weight: 600;
  background-color: #ffffff;
}
header .logo img {
  width: 180px;
}
header .menu-bar {
  display: none;
  font-size: 25px;
}
header .header-btn a {
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.135);
  color: #ffffff;
  background-color: var(--dark-green);
  transition: all 0.3s ease;
}
header .header-btn a:hover {
  background-color: #ffffff;
  color: #000000;
}
header .menu-bar i {
  cursor: pointer;
}
.header-menu ul {
  display: flex;
}
.header-menu ul li a {
  color: #2c2c2c;
  font-weight: 700;
  padding: 0px 5px;
  text-shadow: -10px 10px 0px #2c2c2c00;
  transition: all 0.3s ease;
}
.header-menu ul li a:hover {
  text-shadow: 0px 0px 0px #2c2c2c;
}

/* ============  Header End ============= */

/* ============ Hero-section Start ============= */
.hero-section {
  background-color: #fcfcfc;
  color: #000000;
}
.hero-section h1 {
  font-size: 55px;
  font-weight: 700;
}
.hero-section p {
  font-weight: 600;
}
.hero-section .image .shadow {
  margin-top: -24px;
  width: 100%;
  height: 25px;
  border-radius: 50%;
  background-color: #292929;
  filter: drop-shadow(7px 10px 7px var(--dark-green));
  animation: animated-shadow 1.4s 0s infinite alternate linear;
}
@keyframes animated-shadow {
  from {
    filter: drop-shadow(10px 10px 5px var(--dark-green));
  }
  to {
    filter: drop-shadow(-10px -5px 5px var(--dark-green));
  }
}
/* ============ Hero-section End ============= */

/* ============ Pricing section   Start ============= */
.pricing-section {
  padding: 20px 0px;
  min-height: 700px;
  background-color: #fcfcfc;
}
.top-content p {
  margin: 0 auto;
  width: 65%;
  color: #8f8f8f;
}
.pricing-section .card {
  margin-top: 50px;
  border-radius: 15px;
  padding: 3rem 0;
  min-height: 600px;
  background-color: #0e0e0e;
  z-index: 1;
  color: #ffffff;
}
.pricing-section li i {
  display: inline-block;
  margin-right: 5px;
}
.pricing-section .price h2 {
  font-weight: bold;
}
.pricing-section .card-2 {
  margin-top: 0px;
  min-height: 550px;
  box-shadow: 5px 15px 20px #2d2d2dab;
}
.pricing-section .price h2 span {
  font-size: 20px;
  color: #e8e8e8;
  font-weight: 500;
}
.pricing-section .plan {
  font-size: 2rem;
  font-weight: 600;
}
.pricing-section .badge-icon {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #000000;
  font-size: 30px;
  /* box-shadow: 0px 0px 5px #000000; */
}
.pricing-section .badge-icon::after,
.pricing-section .badge-icon::before {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  content: "";
  position: absolute;
  background: conic-gradient(#002aff, #3cff01, #0033ff);
  padding: 25px;
  z-index: -1;
  animation: animated-icon 4s 0s infinite linear;
}
.pricing-section .badge-icon::before {
  filter: blur(15px);
}
.pricing-section .card ul li {
  margin: 5px 0px;
}
@keyframes animated-icon {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pricing-section .disable {
  color: #999999;
  text-decoration: line-through;
}
.pricing-section ul {
  max-width: 200px;
  margin: 0% auto;
  text-align: left;
}
/* ============ Pricing section   End ============= */

/* ============  Our Sponsor  Start ============= */
.technology-section {
  background-color: #fcfcfc;
  padding: 30px 0;
}
.sponsor-content {
  margin-bottom: 50px;
}
.animation-slider {
  position: relative;
}

.animation-slider::after,
.animation-slider::before {
  top: 0;
  width: 40px;
  height: 100%;
  content: "";
  position: absolute;
}
.animation-slider::after {
  left: 0px;
  background: linear-gradient(90deg, #fcfcfc, #fefefe00);
}
.animation-slider::before {
  right: 0px;
  background: linear-gradient(-90deg, #fcfcfc, #fefefe00);
  z-index: 2;
}
.animation-slider,
.slider-reverse {
  margin-top: 20px;
  overflow-x: hidden;
  white-space: nowrap;
}
.slider-images {
  display: inline-block;
  animation: brand 35s linear 0s infinite;
  margin-bottom: 30px;
}
.animation-reverse {
  display: inline-block;
  animation: brand-reverse 36s linear 0s infinite;
}
.slider-images img {
  /* filter: grayscale(100%); */
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100px;
  margin: 0 40px;
  padding: 0x 40px;
}
/* .animation-reverse img{
  filter: grayscale(0%);
} */
.slider-images .tech {
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  user-select: none;
}
/* .slider-images img:hover {
  filter: grayscale(0%);
} */
.animation-slider:hover .slider-images {
  animation-play-state: paused;
}
@keyframes brand {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes brand-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* ============  Our Sponsor  End ============= */

/* ============  Our Service  Start ============= */
.service-section {
  padding-bottom: 50px;
  min-height: 700px;
  background-color: #fcfcfc;
  /* background-image: url('../images/Shape-7.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
}
.service-items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 140px;
  padding: 5px;
  margin: 10px 0px;
  color: #000000;
  /* border: 1px solid #7a7a7a84; */
  background-color: #02d3a200;
  box-shadow: 5px 5px 15px #77777714;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}
.service-items .item::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08b76b37;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.2s ease;
}
.service-items .item:hover::after {
  transform: scaleY(1);
}
.service-items .item .icon {
  margin: 0 auto;
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #000000;
  color: #ffffff;
}
/* ============  Our Service  End ============= */

/* ============ contact token   Start ============= */
.token-contact {
  background-color: var(--primary-color);
  padding: 40px 0px;
}
.token-contact .cards {
  padding: 20px 0px;
  background-color: #08b76b37;
}
/* ============ contact token  End ============= */

/* ============ Our Projects Start ============= */
.project-section {
  background-color: var(--primary-color);
}
.project-section .item {
  position: relative;
  min-height: 200px;
  padding: 5px 10px;
  box-shadow: 0px 3px 15px #d3d3d39f;
  margin: 5px;
}
.project-section .item:hover .btn-primary a {
  transform: scale(1);
}
.project-section .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  font-size: 35px;
  border: none;
  background: none;
  color: #000000;
}
.project-section .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #000000;
  text-decoration: none;
}
.project-section .btn-primary {
  text-align: center;
  bottom: 10px;
  right: 0px;
  left: 0;
  margin: 0 auto;
  position: absolute;
}
.project-section .btn-primary a {
  background-color: #f0f0f0;
  box-shadow: 0px 5px 20px #202020a3;
  transform: scale(0);
  transition: all 0.4s ease;
}
/* ============ Our Projects End ============= */

/* ============ FAQ Section Start ============= */

.faq-section {
  background-color: #fcfcfc;
  min-height: 600px;
}
/*  .accordion-progress  */
.faq-section .accordion-progress {
  padding: 50px 0px 0px 0px;
  min-height: 300px;
}
.faq-section .accordion-part {
  margin-bottom: 80px;
}
.faq-section .accordion-body {
  box-shadow: 0px 0px 2px 0px #cacaca54;
  background-color: #fcfcfc !important;
  padding: 5px 10px !important;
}
.faq-section .accordion-button {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  border:none !important;
  outline: none !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 10px #c7c7c72f;
}
/* .faq-section .accordion-item {
  background-color: var(--primary-color) !important;

} */
.faq-section .accordion-button:focus {
  box-shadow: none !important;
  border: 1px solid gainsboro;
}
.faq-section .accordion-button:not(.collapsed) {
  color: var(--dark-green) !important;
  background-color: #08b76b37 !important;
}
.faq-section .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: rotate(180deg);
}
.faq-section .accordion-button:not(.collapsed):after {
  transform: rotate(360deg);
}

/* ============  FAQ Section End ============= */


/* ============  Build website  Start ============= */
.building-website{
  background-color: #fcfcfc;
}
.building-website .list li{
  margin: 10px 0px;
  padding: 10px 30px;
  /* background-color: #08b76b37; */
  box-shadow: 5px 5px 10px #4040401f;
  border-radius: 5px;
}
/* ============  Build website End ============= */




/* ============  Footer  Start ============= */
footer {
  background: linear-gradient(180deg, #fcfcfc, #dadada);
  padding: 20px 0px;
  text-align: center;
}
footer a {
  font-weight: 600;
  color: #777777;
  margin-right: 5px;
}
/* ============  Footer   End ============= */
/* ============    Start ============= */
/* ============    End ============= */

/* ============    Start ============= */
/* ============    End ============= */

/* ============    Start ============= */
@media (max-width: 992px) {
  header .header-btn a {
    margin-top: 5px;
    padding: 8px 20px;
  }
  .pricing-section .card-2 {
    margin-top: 50px;
    min-height: 500px;
  }
  .top-content p {
    width: 100%;
  }
  .slider-images img {
    width: 90px;
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .top-content h1 {
    font-size: 2.3rem;
  }
  .header-menu ul {
    display: block;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    padding: 10px 0px;
    top: 117px;
    left: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(0deg,#e3e3e3,#fcfcfc);
    transition: all 0.2s ease-out;
    z-index: 99999;
  }
  .header-menu .active {
    opacity: 1;
    transform: scaleY(1);
  }
  .header-menu ul li:first-child {
    margin-top: 0px;
  }
  .header-menu ul li {
    margin: 8px 0px;
  }
  header .menu-bar {
    display: block;
  }

  /* ========= */
  .technology-section .slider-images img {
    width: 70px;
    margin: 0 10px;
  }
  .technology-section .slider-images {
    margin-bottom: 0px;
  }
  .technology-section .slider-images .tech {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .hero-section h1 {
    font-size: 36px;
  }
  .header-menu ul {
    top: 107px;
  }
  header .logo img {
    width: 140px;
  }
  header .location {
    display: none;
  }
  .technology-section .slider-images img {
    width: 60px;
  }
  .technology-section .slider-images .tech {
    font-size: 16px;
  }
  .faq-section .accordion-button {
    font-size: 18px;
  }
}
/* ============    End ============= */
